GEMINI_API_KEY=<YOUR_GEMINI_API_KEY_HERE>
ATTENDANCE_SMTP_HOST=smtp.gmail.com
ATTENDANCE_SMTP_PORT=587
ATTENDANCE_SMTP_USER=<YOUR_GMAIL_ADDRESS>
ATTENDANCE_SMTP_PASSWORD=<YOUR_GMAIL_APP_PASSWORD>
ATTENDANCE_SMTP_FROM=<YOUR_GMAIL_ADDRESS>
